SitioClientes/App_WebReferences/WSTramitesOnline/ServicioTramitesOnline2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="HoraEntrada" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HoraSalida" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HorasExtrasGeneradas" nillable="true" type="tns:ArrayOfHoraExtra" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="ArrayOfHoraExtra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoraExtra" nillable="true" type="tns:HoraExtra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoraExtra" nillable="true" type="tns:ArrayOfHoraExtra" />
  <xs:complexType name="HoraExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Minutos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoraExtra" nillable="true" type="tns:HoraExtra" />
  <xs:complexType name="Solicitante">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Solicitante" nillable="true" type="tns:Solicitante" />
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LugarSolicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
  <xs:complexType name="ArrayOfDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumento" nillable="true" type="tns:ArrayOfDocumento" />
  <xs:complexType name="Solicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:long" />
      <xs:element minOccurs="0" name="Emisor" nillable="true" type="tns:Solicitante" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="tns:TipoTramite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solicitud" nillable="true" type="tns:Solicitud" />
  <xs:complexType name="TipoTramite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentosRequeridos" nillable="true" type="tns:ArrayOfDocumento" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoTramite" nillable="true" type="tns:TipoTramite" />
  <xs:complexType name="ArrayOfSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Solicitud" nillable="true" type="tns:Solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitud" nillable="true" type="tns:ArrayOfSolicitud" />
  <xs:complexType name="ArrayOfTipoTramite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoTramite" nillable="true" type="tns:TipoTramite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoTramite" nillable="true" type="tns:ArrayOfTipoTramite" />
</xs:schema>